body {
  background-color: #1e1e1e;
  color: #dcdcdc; /* Set text color to white for better visibility */
}


/* Style for the centered image */
.centered-image {
  max-width: 200px;
}

/* Style for the search box and button */
.search-box {
  background-color: #1e1e1e;
  color: #1e1e1e;
  border-radius: 0; /* Remove rounded borders */

}

/* Prevent white background on typing */
.search-box input[type="text"] {
  background-color: #1e1e1e; /* Set the background color explicitly */
  color: #dcdcdc; /* Set the text color explicitly */
}

.search-button:focus,
.search-button:active,
.search-button{
  background-color: #1e1e1e;
  border: 1px solid #dcdcdc; /* Add border style */
  transition: background-color 0.7s, border-color 0.7s; /* Add transition for smooth hover effect */
  border-radius: 0; /* Remove rounded borders */

}

.search-button:hover {
  background-color: #dcdcdc;
  border: 1px solid #dcdcdc; /* Change border color on hover */
  color: #1e1e1e;
  border-radius: 0; /* Remove rounded borders */

}

.btn-outline-primary,
.btn-outline-primary:focus,
.btn-outline-primary:active {
  color: #dcdcdc;
  border-radius: 0; /* Remove rounded borders */
  border-color: #dcdcdc; /* Remove rounded borders */
  box-shadow: none; /* Remove box-shadow on focus/active */
}

.btn-outline-primary:active {
  color: #dcdcdc; /* Keep the same color for active state */
}

.btn-outline-primary:hover {
  background-color: #dcdcdc;
  color: #1e1e1e;
  border-color: #dcdcdc; /* Remove rounded borders */
}

